/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
/**
 * It doesn't matter for this project, but I
 * prefer to define box-sizing this way
 * @author Jason Barr <jason@jasonsbarr.com>
 */
:root {
    box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: inherit;
}

html, body {
    height: 100%;
	font-family: 'Titillium Web', sans-serif;
	font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

/**
 * Define containers and grid
 */
.header-container {
	margin: 0;
	padding: 0;
	width: 100%;
}

.container {
	margin: 0 auto;
	max-width: 67.5rem;
	padding: 0;
}

.row {
	margin: 0;
	padding: 0;
}

[class^="col-"] {
	display: inline-block;
	margin: -0.5rem;
	padding: 1rem;
}

.col-1 {
	width: calc(100% / 6);
}

.col-2 {
	width: calc((100% / 6) * 2);
}

.col-3 {
	width: 50%;
}

.col-4 {
	width: calc((100% / 6) * 4);
}

.col-5 {
	width: calc((100% / 6) * 5);
}

.col-6 {
	width: 100%;
}

/**
 * Rebuild basic element styles
 * Obviously not a FULL rebuild because of time and scope
 */
header,
main,
footer,
section {
	padding: 1rem 3.5rem;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3.3rem;
}

a {
	text-decoration: none;
}

a:hover,
a:active {
	text-decoration: underline;
}

button {
	background: #ffffff;
	border: 1px solid black;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

button:hover {
	background: #e5e5e5;
}

/**
 * Header styles
 */
#page-header {
	margin: 0 auto;
	max-width: 67.5rem;
}

nav {
	width: 66.6667%;
}

nav,
.logo-container {
	display: inline-block;
	vertical-align: middle;
}

.nav-item {
	display: inline-block;
}

.nav-item + .nav-item {
	margin-left: 8%;
}

.nav-link {
	color: #b5b5b5;
	transition: all .2s ease-in-out;
}

.nav-link:hover {
	color: #888888;
}

.logo-container {
	margin-left: 10%;
}

/**
 * CTA section styles
 */
.cta-hero > div {
	display: inline-block;
	margin: -0.5rem;
	padding-bottom: 3rem;
	padding-top: 3rem;
	text-align: center;
	vertical-align: middle;
	width: 50%;
}

.cta-content {
	transform: translateY(-3rem);
}

.cta-content h1 {
	font-size: 5rem;
	white-space: pre;
}

.cta-button {
	padding: .5rem 2rem;
}

.cta-button:hover {
	background: #000000;
	color: #ffffff;
}

/**
 * Main section styles
 */
main {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

main .row + .row {
	margin-top: 1.5rem;
}

.blurb h2 {
	font-size: 1.5rem;
}

.middle-img {
	display: block;
	margin: auto;
}

/**
 * Footer styles
 */
#page-footer section {
	padding: 1rem;
}

.contact-info a {
	color: #333333;
}

.legal-info {
	font-size: 0.8rem;
	text-align: center;
}
